<div class="price-card">
  <div class="header">
    <p>FREE</p>
    <p class="price">$0 <span>/month</span></p>
  </div>
  <hr>
  <div class="card-body">
    <ul>
      <li>Single User</li>
      <li>5GB Storage</li>
      <li>Unlimited Public Projects</li>
      <li>Community Access</li>
      <li>Unlimited Private Projects</li>
      <li>Dedicated Phone Support</li>
      <li>Free Subdomain</li>
      <li>Monthly Status Reports</li>
    </ul>
  </div>
  <div class="card-bottom">
    <button class="btn btn-primary">BUTTON</button>
  </div>
</div>
