<h3>Features</h3>
<mat-list>
  <mat-list-item routerLink="/signal">
    <span matListItemTitle>Signal</span>
    <span matListItemLine>Stable in v17</span>
  </mat-list-item>
  <mat-list-item routerLink="/new-control-flow">
    <span matListItemTitle>New Control flow</span>
    <span matListItemLine>if, for, switch</span>
  </mat-list-item>
  <mat-list-item routerLink="/deferrable-views">
    <span matListItemTitle>Deferrable views</span>
    <span>On action, on interaction</span>
  </mat-list-item>
  <mat-list-item>
    <span matListItemTitle>Improved SSR support</span>
    <span>defaulted new application to SSR</span>
  </mat-list-item>
</mat-list>